body {
  #header {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    background-color: lightgrey;
  }
  .btn {
    background-color: lightblue;
  }
  input {
    text-align: center;
  }
}
